shamefully-hoist=true
onlyBuiltDependencies[0]=@parcel/watcher
onlyBuiltDependencies[1]=esbuild
onlyBuiltDependencies[2]=simple-git-hooks
onlyBuiltDependencies[3]=unrs-resolver
onlyBuiltDependencies[4]=vue-demi
